
/* External Styling Sheet */

body { 
    margin: 0 auto; 
}
#top_bar { 
    width: 100%;
    /* position: fixed; */
    /* z-index :100 ; */
    position: fixed;
    z-index :100;
}

.content {
    flex-grow: 1;
}
header {
    font-family: "Open Sans";
    background-color:#032030;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
header a {
    text-decoration: none;
}
h1 {
    color: #000;
    font-size: 35px;
    font-family: "DM Serif Text"
}
nav {
        font-size: 20px;
        font-family: "Open Sans";
        display:flex;
        justify-content: center;
        background-color: #032030;
        overflow: hidden;
        padding:10px;
}
nav a{
        text-decoration: none;
        color:#fff;
        padding: 10px 20px;
        font-weight: 400;
}
nav a:hover{
        background-color:#50affd;
        color:#fff;
}
#below_nav{ 
    width: 100%;
    background-color: #032030;
    height: 0;
}

footer {
    text-align: center;
    background-color:#032030;
    width:100%;
    color: white;
    padding: 10px 0px;
    font-family: "Open Sans";
   
    
}
footer p a{
        text-decoration: none;
        color:#fff;
}
footer p a:hover{
        color:#bdb8b8b0;
}

#title{
        font-size: 40px;
        font-weight: 500;
        font-family: "DM Serif Text";
        text-align: center;
        color: #fff;
        Padding:0;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 200;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display:block;
        background-color: #032030;
        color:#fff;
        font-size: 50px;
    }
    .nav-links.show {
        display: flex; 
    }
    .nav-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        background-color: #032030;
        /* position: absolute;
        top: 50px;
        left: 0; */
        width: 100%;
        padding: 10px 0;
        /* z-index: 150;
        overflow: hidden; */
    }
}

@media(max-width: 450px) { 
    header {
      height: 80px;
    }
    .hamburger {
        font-size: 30px;
    }

    #title{
        font-size: 35px;
    }
    #img_container img{ 
        width : 70px;
    }
}